
$border-color: #efefef;
$white-color: #fff;
$blue-color: #00afff;
$border-radius: 0.25rem;
$card-bg-color: #f6f8fa;

.dragContainer {
    padding: 1rem 5rem;

    & h2 {
        margin-bottom: 30px;

    }
   

    & .dragRemove {
        border-radius: $border-radius;
        border: 1px solid $border-color;
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 0px;
        text-transform: uppercase;
        background: $blue-color;
        color: $white-color;
        text-align: left;
        padding: 15px;
        padding-right: 10px;
        font-weight: bold;

    }

    & .draggable {
        height: 50px;
        border: 1px solid $border-color;
        border-radius: $border-radius;
        margin: 30px auto;
        background: $white-color;
        display: flex;
        align-items: center;
        vertical-align: middle;
        padding: 15px;
        font-weight: bold;
        font-size: 16px;
        border-left: 5px solid $blue-color;
        text-align: left;
    }

    & .cardBorder{
        background: $card-bg-color;
        border: 1px solid $border-color;
        border-radius: $border-radius;
        height: 100vh;
        border-top-right-radius: 0px;
        border-top-left-radius: 0px;
    }
    

    & .flexCenter {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding: 0 15px;
    }

    & .addIcon {
        & i {
            color: $white-color;
            font-size: 20px;
            width: 20px;
        }
        
    }


    & .cardRelative {
        position: relative;
    }
    & .closeIcon {
        position: absolute;
        top: 5px;
        right: 5px;
        font-size: 12px;
        width: 38px;

    }

}